@model List<UserViewModel>

@{
    ViewData["Title"] = "User";
}

<div class="body-content">
    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body  p-0">
            <table class="table table-hover">
                <thead class="bg-light text-dark fw-bold">
                    <tr>
                        <td>Email Address</td>
                        <td>First Names</td>
                        <td>Last Name</td>
                        <td class="text-end"><a class="btn btn-xs btn-success" asp-action="Add" asp-controller="User"><span class="fa fa-plus"></span> Create</a></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EmailAddress</td>
                            <td>@item.FirstNames</td>
                            <td>@item.LastName</td>
                            <td class="text-end">
                                <a class="btn btn-xs btn-outline-danger btnDeleteUser" data-moniker="@item.Moniker"><span class="fa fa-trash"></span> Delete</a>
                                <a class="btn btn-xs btn-outline-warning" asp-action="Edit" asp-controller="User" asp-route-moniker="@item.Moniker"><span class="fa fa-pen"></span> Edit</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="deleteUserModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header text-white bg-danger">
                <h5 class="modal-title"><span class="fa fa-receipt me-2"></span> User</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="deleteUserValidation" class="text-danger d-none"><</ul>
                <p>Are you sure you wish to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="min-width: 80px" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" style="min-width: 80px" class="btn btn-sm btn-danger" id="deleteUserConfirm" data-moniker=""><span class="fa fa-trash"></span> Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/User/index.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
